.myBG {
    height: 100vh;
    background: url("../assets/bg/bioskop.jpg");
    background-size: cover;
}
.trending {
    height: auto;
    background: url("../assets/trending/kkndesapenari.jpg");
    background-size: cover;
}
.superhero {
    height: auto;
    background: url("../assets/superhero/doctorstrange.jpg");
    background-size: cover;
}

.intro{
   height: 300px;
   /* background: tomato; */
   display: flex;
   justify-content: end;
   align-items: end;
}

.title{
   font-size: 3rem;
   font-weight: 800;
   line-height: 1;
   text-shadow: 2px 2px black;
   letter-spacing: 4px;
}
.images{
   height: 500px;
}
.movieImage{
   height: auto;
   background-color: black;
   margin: 5px;
   padding: 5px;
}